@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    user-select: none;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 6px;
    /* Width of the scrollbar */
    height: 6px;
    /* Height of the scrollbar for horizontal scrolling */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners for the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
    /* Darker color when hovering over the handle */
}

/* For horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
    background: #888;
    /* Color of the horizontal scrollbar handle */
}